<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Desafio Binahki</title>


    <!-- {{#each css}}
    <link rel="stylesheet" href="../css/{{this}}">
    {{/each}}

    <link rel="stylesheet" href="../css/style.css" type='text/css'>
    <link rel="stylesheet" href="../public/style.css" type='text/css'>

     <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.js">
    
        {{#each js}}
    <script src="/js/{{this}}"></script>
    {{/each}}

    
    -->

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/js/bootstrap.min.js">

</head>

<body>

    {{{body}}}


</body>

</html>