<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Desafio Binahki</title>

    <link rel="stylesheet" type="text/css" href="./listar.css" />


    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/js/bootstrap.min.js">

</head>

<div id="wave">
</div>


<div>
<h1>Dados inseridos:</h1>

{{#each pagamentos}}
    ID: {{id}}<br>
    Nome: {{nome}}<br>
    Valor: {{valor}}<br>
    Cadastrado: {{#formatDate createdAt}}{{/formatDate}}<br>
    <hr>
{{/each}}


</div>